.item__count{
    margin-left: auto ;
    margin-right: auto;
    margin-top: 5px;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    font-size: 14px;
    color: #535353;  
    display: block;
    justify-content: center; 
    align-items: center;
    padding: 5px;
    overflow: hidden;
    .item__count__barra{
        width: 100%;
        height: 46px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
  
        &:hover{
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        }
    }
    .item__count__button {
        color: #4887ec;
        font-size: 20px;
        width: 35px;
        height: 35px;
        background-color: white;
        border: none;
        cursor: pointer;
        margin-top: -4px;
        &:hover{
            background-color: #d0e0f9;
            border-radius: 5px;
            color: black;
        }
    }
    .item__container__button__agregar{
        margin-top: 10px;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
    }
   
    .button__agregar__carrito{
        width: 292px ;
        border-radius: 10px;
        cursor: pointer;
        color: #4887ec;
        border-color: #4887ec;
        border-style: solid;
        &:hover{
            background-color: #d0e0f9;
        }
    }
    .item__container__button__finalizar{
        margin-top: 10px;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        .button__agregar__finalizar{
            width: 279px ;
            height: 45px;
            border-radius: 10px;
            cursor: pointer;
            color: #4887ec;
            border-color: #4887ec;
            border-style: solid;
            &:hover{
                background-color: #d0e0f9;
            }
        }

    }  
}
.item__count > p{
    display: flex;
    color: #00a650;
    line-height: 20.8px;
    text-align: center;
}